## Web scraping examples

https://www.statistik-bw.de/BildungKultur/SchulenAllgem/13013020.tab?R=KR116

https://www.statistik-bw.de/BildungKultur/SchulenAllgem/13013020.tab?R=KR415

https://www.statistik-bw.de/BildungKultur/SchulenAllgem/13013020.tab?R=KR416

**"Easy method"**

In [1]:
import pandas as pd

In [2]:
tables = pd.read_html("https://www.statistik-bw.de/BildungKultur/SchulenAllgem/13013020.tab?R=KR116")

In [3]:
len(tables)

1

In [4]:
tables[0]

   SchulabgÃ¤nge aus Ã¶ffentlichen und privaten Schulen seit dem Schuljahr 1983/84 nach  Abschlussarten  Schularten  Landkreis Esslingen  \
                                                                                                                                    Jahr
                                                                                                                                    Jahr
                                                                                                                                    Jahr
                                                                                                                                    Jahr
0                                             1983/84
1                                             1984/85
2                                             1985/86
3                                             1986/87
4                                             1987/88
5                                             1988/89
6                                             1989/90
7                                             1990/91
8                                             1991/92
9                                             1992/93
10                                            1993/94
11                                            1994/95
12                                            1995/96
13                                            1996/97
14                                            1997/98
15                                            1998/99
16                                            1999/00
17                                            2000/01
18                                            2001/02
19                                            2002/03
20                                            2003/04
21                                            2004/05
22                                            2005/06
23                                            2006/07
24                                            2007/08
25                                            2008/09
26                                            2009/10
27                                            2010/11
28                                            2011/12
29                                            2012/13
30                                            2013/14
31                                            2014/15
32                                            2015/16
33                                            2016/17
34                                            2017/18
35  1) Allgemeinbildende Schulen; ohne Schulen des...

                                                       \
                                       Abschlussart1)
                                                 ohne
                                  Hauptschulabschluss
                                               Anzahl
0                                                 478
1                                                 407
2                                                 397
3                                                 289
4                                                 377
5                                                 333
6                                                 433
7                                                 369
8                                                 355
9                                                 472
10                                                407
11                                                424
12                                                468
13                                                351
14                                                357
15                                                391
16                                                471
17                                                428
18                                                405
19                                                382
20                                                391
21                                                346
22                                                323
23                                                280
24                                                280
25                                                269
26                                                240
27                                                234
28                                                214
29                                                218
30                                                225
31                                                189
32                                                228
33                                                272
34                                                270
35  1) Allgemeinbildende Schulen; ohne Schulen des...

                                                       \

                                                  mit
                                  Hauptschulabschluss
                                               Anzahl
0                                               2.452
1                                               2.260
2                                               2.056
3                                               2.068
4                                               1.784
5                                               1.723
6                                               1.605
7                                               1.687
8                                               1.586
9                                               1.570
10                                              1.564
11                                              1.573
12                                              1.561
13                                              1.598
14                                              1.630
15                                              1.581
16                                              1.488
17                                              1.484
18                                              1.636
19                                              1.672
20                                              1.816
21                                              1.713
22                                              1.734
23                                              1.651
24                                              1.640
25                                              1.509
26                                              1.363
27                                              1.378
28                                              1.174
29                                              1.140
30                                              1.169
31                                              1.134
32                                                987
33                                                854
34                                                813
35  1) Allgemeinbildende Schulen; ohne Schulen des...

                                                       \

                                Mittlerer Abschluss2)
                                Mittlerer Abschluss2)
                                               Anzahl
0                                               2.951
1                                               2.815
2                                               2.741
3                                               2.233
4                                               2.217
5                                               1.949
6                                               1.692
7                                               1.716
8                                               1.649
9                                               1.674
10                                              1.641
11                                              1.676
12                                              1.751
13                                              1.920
14                                              1.982
15                                              1.954
16                                              1.947
17                                              1.890
18                                              1.975
19                                              1.905
20                                              2.177
21                                              2.085
22                                              2.215
23                                              2.215
24                                              2.242
25                                              2.244
26                                              2.225
27                                              2.196
28                                              2.225
29                                              2.463
30                                              2.558
31                                              2.518
32                                              2.374
33                                              2.391
34                                              2.241
35  1) Allgemeinbildende Schulen; ohne Schulen des...

                                                       \

                                   Fachhochschulreife
                                   Fachhochschulreife
                                               Anzahl
0                                                   7
1                                                  14
2                                                   9
3                                                  27
4                                                   –
5                                                  10
6                                                  15
7                                                  12
8                                                  10
9                                                  10
10                                                 19
11                                                 12
12                                                 16
13                                                 15
14                                                 12
15                                                 25
16                                                 33
17                                                 25
18                                                 32
19                                                 28
20                                                 28
21                                                 30
22                                                 27
23                                                 17
24                                                 29
25                                                 39
26                                                 28
27                                                 33
28                                                 42
29                                                 36
30                                                 17
31                                                 41
32                                                 48
33                                                 47
34                                                 39
35  1) Allgemeinbildende Schulen; ohne Schulen des...



                                       Hochschulreife
                                       Hochschulreife
                                               Anzahl
0                                               1.382
1                                               1.483
2                                               1.382
3                                               1.361
4                                               1.414
5                                               1.280
6                                               1.193
7                                               1.104
8                                               1.068
9                                               1.023
10                                              1.056
11                                              1.038
12                                              1.061
13                                              1.023
14                                                993
15                                              1.128
16                                              1.157
17                                              1.099
18                                              1.119
19                                              1.207
20                                              1.082
21                                              1.154
22                                              1.316
23                                              1.364
24                                              1.421
25                                              1.527
26                                              1.630
27                                              1.613
28                                              2.794
29                                              1.694
30                                              1.595
31                                              1.696
32                                              1.666
33                                              1.644
34                                              1.584
35  1) Allgemeinbildende Schulen; ohne Schulen des...

In [5]:
base_url = "https://www.statistik-bw.de/BildungKultur/SchulenAllgem/13013020.tab"

districts = [116, 415, 416]
output = {}
for dnum in districts:
    url = base_url + f"?R=KR{dnum}"
    print(url)

    output[dnum] = pd.read_html(url)[0]

https://www.statistik-bw.de/BildungKultur/SchulenAllgem/13013020.tab?R=KR116
https://www.statistik-bw.de/BildungKultur/SchulenAllgem/13013020.tab?R=KR415
https://www.statistik-bw.de/BildungKultur/SchulenAllgem/13013020.tab?R=KR416

In [7]:
output[415]

   SchulabgÃ¤nge aus Ã¶ffentlichen und privaten Schulen seit dem Schuljahr 1983/84 nach  Abschlussarten  Schularten  Landkreis Reutlingen  \
                                                                                                                                     Jahr
                                                                                                                                     Jahr
                                                                                                                                     Jahr
                                                                                                                                     Jahr
0                                             1983/84
1                                             1984/85
2                                             1985/86
3                                             1986/87
4                                             1987/88
5                                             1988/89
6                                             1989/90
7                                             1990/91
8                                             1991/92
9                                             1992/93
10                                            1993/94
11                                            1994/95
12                                            1995/96
13                                            1996/97
14                                            1997/98
15                                            1998/99
16                                            1999/00
17                                            2000/01
18                                            2001/02
19                                            2002/03
20                                            2003/04
21                                            2004/05
22                                            2005/06
23                                            2006/07
24                                            2007/08
25                                            2008/09
26                                            2009/10
27                                            2010/11
28                                            2011/12
29                                            2012/13
30                                            2013/14
31                                            2014/15
32                                            2015/16
33                                            2016/17
34                                            2017/18
35  1) Allgemeinbildende Schulen; ohne Schulen des...

                                                       \
                                       Abschlussart1)
                                                 ohne
                                  Hauptschulabschluss
                                               Anzahl
0                                                 196
1                                                 189
2                                                 186
3                                                 150
4                                                 153
5                                                 180
6                                                 226
7                                                 186
8                                                 195
9                                                 210
10                                                216
11                                                247
12                                                256
13                                                209
14                                                231
15                                                239
16                                                266
17                                                199
18                                                223
19                                                221
20                                                199
21                                                179
22                                                200
23                                                166
24                                                173
25                                                161
26                                                142
27                                                110
28                                                136
29                                                160
30                                                145
31                                                129
32                                                119
33                                                155
34                                                182
35  1) Allgemeinbildende Schulen; ohne Schulen des...

                                                       \

                                                  mit
                                  Hauptschulabschluss
                                               Anzahl
0                                               1.394
1                                               1.292
2                                               1.265
3                                               1.251
4                                               1.102
5                                               1.028
6                                               1.007
7                                                 946
8                                                 940
9                                                 968
10                                                955
11                                                967
12                                                974
13                                                976
14                                              1.080
15                                                999
16                                                995
17                                                961
18                                              1.121
19                                              1.099
20                                              1.146
21                                              1.069
22                                              1.160
23                                              1.068
24                                              1.080
25                                                981
26                                                925
27                                                859
28                                                686
29                                                706
30                                                632
31                                                699
32                                                649
33                                                533
34                                                476
35  1) Allgemeinbildende Schulen; ohne Schulen des...

                                                       \

                                Mittlerer Abschluss2)
                                Mittlerer Abschluss2)
                                               Anzahl
0                                               1.378
1                                               1.379
2                                               1.220
3                                               1.158
4                                               1.110
5                                                 985
6                                                 934
7                                                 844
8                                                 899
9                                                 789
10                                                814
11                                                843
12                                                903
13                                              1.030
14                                              1.034
15                                              1.021
16                                              1.076
17                                                972
18                                              1.089
19                                              1.138
20                                              1.096
21                                              1.205
22                                              1.219
23                                              1.150
24                                              1.161
25                                              1.202
26                                              1.198
27                                              1.082
28                                              1.233
29                                              1.456
30                                              1.363
31                                              1.411
32                                              1.412
33                                              1.309
34                                              1.305
35  1) Allgemeinbildende Schulen; ohne Schulen des...

                                                       \

                                   Fachhochschulreife
                                   Fachhochschulreife
                                               Anzahl
0                                                  14
1                                                   4
2                                                  12
3                                                   3
4                                                   –
5                                                   5
6                                                   3
7                                                  14
8                                                   3
9                                                   3
10                                                  4
11                                                  9
12                                                  9
13                                                 10
14                                                  7
15                                                 21
16                                                  8
17                                                  8
18                                                 16
19                                                 10
20                                                 24
21                                                 34
22                                                 35
23                                                 19
24                                                  9
25                                                 22
26                                                 13
27                                                 20
28                                                 13
29                                                 34
30                                                 19
31                                                 20
32                                                 11
33                                                 15
34                                                 22
35  1) Allgemeinbildende Schulen; ohne Schulen des...



                                       Hochschulreife
                                       Hochschulreife
                                               Anzahl
0                                                 806
1                                                 887
2                                                 814
3                                                 782
4                                                 790
5                                                 723
6                                                 673
7                                                 661
8                                                 598
9                                                 586
10                                                608
11                                                566
12                                                577
13                                                602
14                                                571
15                                                633
16                                                692
17                                                698
18                                                701
19                                                729
20                                                706
21                                                730
22                                                772
23                                                856
24                                                857
25                                                876
26                                                910
27                                                921
28                                              1.662
29                                                869
30                                                832
31                                                898
32                                                919
33                                                899
34                                                886
35  1) Allgemeinbildende Schulen; ohne Schulen des...

**Slightly more involved**

In [14]:
import io
import requests

In [8]:
download_link = "https://www.statistik-bw.de/BildungKultur/SchulenAllgem/13013020.tab?R=KR116&form=csv"

In [10]:
res = requests.get(download_link)

_Read it into Python_

In [19]:
pd.read_csv?

In [21]:
pd.read_csv(
    io.StringIO(res.text), delimiter=";",
    header=None, skiprows=6, skipfooter=3
)

<ipython-input-21-327ddb44b1d4>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  pd.read_csv(

           0    1        2      3   4        5
0    1983/84  478    2.452  2.951   7    1.382
1    1984/85  407    2.260  2.815  14    1.483
2    1985/86  397    2.056  2.741   9    1.382
3    1986/87  289    2.068  2.233  27    1.361
4    1987/88  377    1.784  2.217   –    1.414
5    1988/89  333    1.723  1.949  10    1.280
6    1989/90  433    1.605  1.692  15    1.193
7    1990/91  369    1.687  1.716  12    1.104
8    1991/92  355    1.586  1.649  10    1.068
9    1992/93  472    1.570  1.674  10    1.023
10   1993/94  407    1.564  1.641  19    1.056
11   1994/95  424    1.573  1.676  12    1.038
12   1995/96  468    1.561  1.751  16    1.061
13   1996/97  351    1.598  1.920  15    1.023
14   1997/98  357    1.630  1.982  12  993.000
15   1998/99  391    1.581  1.954  25    1.128
16   1999/00  471    1.488  1.947  33    1.157
17   2000/01  428    1.484  1.890  25    1.099
18   2001/02  405    1.636  1.975  32    1.119
19   2002/03  382    1.672  1.905  28    1.207
20   2003/04  391    1.816  2.177  28    1.082
21   2004/05  346    1.713  2.085  30    1.154
22   2005/06  323    1.734  2.215  27    1.316
23   2006/07  280    1.651  2.215  17    1.364
24   2007/08  280    1.640  2.242  29    1.421
25   2008/09  269    1.509  2.244  39    1.527
26   2009/10  240    1.363  2.225  28    1.630
27   2010/11  234    1.378  2.196  33    1.613
28   2011/12  214    1.174  2.225  42    2.794
29   2012/13  218    1.140  2.463  36    1.694
30  2013/14   225    1.169  2.558  17    1.595
31  2014/15   189    1.134  2.518  41    1.696
32   2015/16  228  987.000  2.374  48    1.666
33   2016/17  272  854.000  2.391  47    1.644
34   2017/18  270  813.000  2.241  39    1.584

_Save file to computer_

In [23]:
with open("test.csv", "w") as f:
    f.write(res.text)

**Read pdf**

In [ ]:
import requests

In [24]:
res = requests.get(
    "http://www.africau.edu/images/default/sample.pdf"
)

In [25]:
with open("test.pdf", "wb") as f:
    f.write(res.content)

https://pypi.org/project/PyMuPDF/

Installing camelot: https://camelot-py.readthedocs.io/en/master/user/install.html#pip

In [ ]:
# Uncomment to install package
# !pip install PyMuPDF

In [26]:
import fitz

In [27]:
doc = fitz.open("test.pdf")

In [29]:
doc.get_page_text(0)

' A Simple PDF File \n This is a small demonstration .pdf file - \n just for use in the Virtual Mechanics tutorials. More text. And more \n text. And more text. And more text. And more text. \n And more text. And more text. And more text. And more text. And more \n text. And more text. Boring, zzzzz. And more text. And more text. And \n more text. And more text. And more text. And more text. And more text. \n And more text. And more text. \n And more text. And more text. And more text. And more text. And more \n text. And more text. And more text. Even more. Continued on page 2 ...\n'

Clicking through pages and filling in boxes:

https://pypi.org/project/pyppeteer/